div.yafowil_slider {
    padding-top:0.65em;
    width: 100%;
}

div.yafowil_slider > .slider {
    position: relative;
    display: flex;
    align-items: center;
    height: 20px;
}

div.yafowil_slider > .slider .slider-bg {
    height: 15px;
    position: absolute;
    background: lightgray;
    width: 100%;
    border-radius: 15px;
}

div.yafowil_slider > .slider .slider-value-track {
    height: 15px;
    position: absolute;
    background: lightskyblue;
    border-radius: 15px;
}

div.yafowil_slider > .slider .slider-handle {
    position: absolute;
    background: black;
    border-radius: 50%;
    transform: translateX(-50%);
}

div.yafowil_slider > .slider .slider-handle-end {
    position: absolute;
    left: 200px;
    background: orange;
    border-radius: 50%;
    transform: translateX(-50%);
}
